@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* FONT STYLES */
/* font-family: 'Poppins', sans-serif; */
:root {
  --main-background-color: hsl(0, 0%, 98%);
  --paragraph-color: hsl(229, 6%, 66%);
  --header-color: hsl(234, 12%, 34%);
  --red-border: hsl(0, 78%, 62%);
  --light-blue-border: hsl(180, 62%, 55%);
  --orange-border: hsl(34, 97%, 64%);
  --dark-blue-border: hsl(212, 86%, 64%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--paragraph-color);
  font-size: 15px;
  margin: 20px 100px;
}

/* HEADER SECTION */
header {
  text-align: center;
  grid-column: span 3;
  margin-top: 25px;
}

h1 {
  color: var(--header-color);
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 20px;
}

span {
  font-weight: 600;
}

div.container header p {
  margin: auto 360px;
  font-size: 15px;
}

/* TITLES AND PARAGRAPHS AND SVG */
h3 {
  color: var(--header-color);
  font-size: 1.5rem;
}

/* FOOTER */
.attribution {
  color: inherit;
  font-family: inherit;
  text-align: center;
}

.attribution a:hover {
  color: var(--dark-blue-border);
  text-decoration: none;
}

.attribution a:visited {
  color: var(--paragraph-color);
}

/* MAIN CONTAINER */
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(420px, 420px));
  grid-template-rows: 220px repeat(auto-fit, minmax(155px));
}

/* SUPERVISOR BOX */
.supervisor {
  padding: 30px;
  background-color: #fff;
  text-align: left;
  margin: 20px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.144);
  border-radius: 2%;
  border-top: 5px solid var(--light-blue-border);
  grid-row: 3 / 5;
}

div.supervisor p {
  padding-top: 10px;
  width: 320px;
  line-height: 2;
}

div.supervisor img {
  margin-left: 15rem;
  margin-top: 2rem;
  height: 65px;
}


/* TEAM BUILDER BOX */
.team-builder {
  padding: 30px;
  background-color: #fff;
  text-align: left;
  margin: 20px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.13);
  border-radius: 2%;
  border-top: 5px solid var(--red-border);
  grid-row: 2 / 4;
  /* grid-column: 2 / 4; */
}

div.team-builder p {
  padding-top: 10px;
  width: 320px;
  line-height: 2;
}

div.team-builder img {
  margin-left: 15rem;
  margin-top: 2rem;
  height: 70px;
}

/* CALCULATOR BOX */
.calculator {
  padding: 30px;
  background-color: #fff;
  text-align: left;
  margin: 20px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.13);
  border-radius: 2%;
  border-top: 5px solid var(--dark-blue-border);
  grid-row: 3 / 5;
}

div.calculator p {
  padding-top: 10px;
  width: 320px;
  line-height: 2;
}

div.calculator img {
  margin-left: 16rem;
  margin-top: 2rem;
  height: 70px;
}

/* KARMA BOX */
.karma {
  padding: 30px;
  background-color: #fff;
  text-align: left;
  margin: 20px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.13);
  border-radius: 2%;
  border-top: 5px solid var(--orange-border);
  grid-row: 4 / 6;
}

div.karma p {
  padding-top: 10px;
  width: 350px;
  line-height: 2;
}

div.karma img {
  margin-left: 16rem;
  margin-top: 2rem;
  height: 70px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1260px) {
  .container {
    grid-template-columns: 375px;
    grid-template-rows: 130px;
    justify-content: center;
  }
  header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 0;
    margin: 0;
  }
  div.container header p {
    margin: 0;
    font-size: 1.1rem;
  }
  h1 {
    font-size: 1.8rem;
    margin: 1rem 0;
  }
  .supervisor {
    grid-row: 2 / 4;
    margin: 1rem 0;
    margin-top: 9rem;
  }
  .team-builder {
    grid-row: 4 / 6;
    margin: 1rem 0;
  }
  .karma {
    grid-row: 6 / 8;
    margin: 1rem 0;
  }
  .calculator {
    grid-row: 8 / 10;
    margin: 1rem 0;
  }
}