@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* FONT STYLES */
/* font-family: 'Poppins', sans-serif; */
:root {
  --main-background-color: hsl(0, 0%, 98%);
  --paragraph-color: hsl(229, 6%, 66%);
  --header-color: hsl(234, 12%, 34%);
  --red-border: hsl(0, 78%, 62%);
  --light-blue-border: hsl(180, 62%, 55%);
  --orange-border: hsl(34, 97%, 64%);
  --dark-blue-border: hsl(212, 86%, 64%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--paragraph-color);
  font-size: 15px;
  margin: 50px 100px;
}

/* FOOTER */
.attribution {
  color: inherit;
  font-family: inherit;
  text-align: center;
}

.attribution a:hover {
  color: var(--dark-blue-border);
  text-decoration: none;
}

.attribution a:visited {
  color: var(--paragraph-color);
}

/* MAIN CONTAINER */
.container {
  display: grid;
  justify-content: center;
  border: 5px solid #000;
  grid-template-columns: repeat(3, 450px);
  grid-template-rows: 250px repeat(2, 375px);
}

/* SUPERVISOR BOX */
.supervisor {
  background-color: #fff;
  text-align: left;
  margin: 20px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.144);
  border-radius: 2%;
  border-top: 5px solid var(--light-blue-border);
  grid-row: 3 / 4;
}

/* TEAM BUILDER BOX */
.team-builder {
  background-color: #fff;
  text-align: left;
  margin: 20px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.13);
  border-radius: 2%;
  border-top: 5px solid var(--red-border);
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

/* CALCULATOR BOX */
.calculator {
  background-color: #fff;
  text-align: left;
  margin: 20px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.13);
  border-radius: 2%;
  border-top: 5px solid var(--dark-blue-border);
  grid-row: 3 / 4;
}

div.calculator p {
  padding-top: 10px;
  width: 350px;
  line-height: 2;
}

div.calculator img {
  margin-left: 16rem;
  margin-top: 4rem;
  height: 80px;
}

/* KARMA BOX */
.karma {
  padding: 40px;
  background-color: #fff;
  text-align: left;
  margin: 20px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.13);
  border-radius: 2%;
  border-top: 5px solid var(--orange-border);
  grid-row: 3 / 4;
}

div.karma p {
  padding-top: 10px;
  width: 350px;
  line-height: 2;
}

div.karma img {
  margin-left: 16rem;
  margin-top: 4rem;
  height: 80px;
}

/* HEADER SECTION */
header {
  text-align: center;
  grid-column: span 3;
  margin-top: 25px;
}

h1 {
  color: var(--header-color);
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 20px;
}

span {
  font-weight: 600;
}

div.container header p {
  margin: auto 400px;
  font-size: 16px;
}

/* TITLES AND PARAGRAPHS AND SVG */
h3 {
  color: var(--header-color);
  font-size: 1.5rem;
}